@{
    ViewData["Title"] = "Home Page";
}

@* Tables will be generated automaticly *@
<div class="tables">
    <div class="col-lg-6">
        <table class="table table-hover">
            <caption id="MyDebtors">My Debtors</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Debt</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Daniel</td>
                    <td>Choluj</td>
                    <td>24zl</td>
                    <td>06.03.2016</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-hover">
            <caption id="MyDebts">My Debts</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Debt</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-danger">
                    <td>1</td>
                    <td>Jurand</td>
                    <td>From Spychow</td>
                    <td>12.50zl</td>
                    <td>02.03.2016</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>