body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#d3c02f;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    /*width:unset;*/
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

ul li{
    font-size:24px;
}
ul li a:hover{
    cursor:pointer;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.tables{
    padding-top:20px;
}

table caption{
    text-align:center;
    font-weight:900;
    font-size:24px;
    color:#333;
}
#MyDebtors>caption{
    background-color:#5cb85c;
}
#MyDebts>caption{
    background-color:#d9534f;
}

a{
    text-decoration:none !important; 
    color:inherit ;
}
table a:hover{
    color:#555;
}
#MyDebtors>tbody>tr:nth-child(odd)>td, 
#MyDebtors>tbody>tr:nth-child(odd)>th {
   background-color: #72e072;
 }
#MyDebts>tbody>tr:nth-child(odd)>td, 
#MyDebts>tbody>tr:nth-child(odd)>th {
   background-color: #e08372;
 }