@model GdzieMojHajs.ViewModels.Debts.DebtViewModel

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="Debts">
    <div class="form-horizontal">
        <h4>Debt</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label" ></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control " id="datepicker2"/>
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DebtOwnerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DebtOwnerId" asp-items=@((IEnumerable<SelectListItem>)ViewData["DebtorsId"]) class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
