@using System.Security.Claims



<ul class="nav navbar-nav navbar-right">    @* if user signed in *@
    <li><a asp-controller="Home" asp-action="Index" class="glyphicon glyphicon-cog"></a></li>
</ul>
@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
            </li>
            <li>
                <a asp-controller="Notifications" asp-action="Index" title="Notifications"><i class="glyphicon glyphicon-envelope"></i></a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
