@model GdzieMojHajs.ViewModels.Debts.DebtViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" asp-controller="Debts">
    <div class="form-horizontal">
        <h4>Debt</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="hidden" asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger" />

            <input type="hidden" asp-for="Comment" class="form-control" />
            <span asp-validation-for="Comment" class="text-danger" />

            <input type="hidden" asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger" />
            <div class="form-group">
                <label asp-for="DebtOwnerId" class="control-label col-md-2">Debt Owner</label>
                <div class="col-md-10">
                    <select asp-for="DebtOwnerId" asp-items=@((IEnumerable<SelectListItem>)ViewData["DebtOwnerId"]) class="form-control"></select>
                    <span asp-validation-for="DebtOwnerId" class="text-danger" />
                    </div>
                </div>
                    <select style="display:none" asp-for="DebtReceiverId" asp-items=@((IEnumerable<SelectListItem>)ViewData["DebtReceiverId"]) class="form-control"></select>
                    <span asp-validation-for="DebtReceiverId" class="text-danger" />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
        </div>
</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
