@model GdzieMojHajs.ViewModels.Notifications.NotificationViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Notification</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DebtId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DebtId" asp-items=@((IEnumerable<SelectListItem>)ViewData["DebtId"]) class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NotificationReceiverId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="NotificationReceiverId" asp-items=@((IEnumerable<SelectListItem>)ViewData["NotificationReceiverId"]) class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
